* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* Add a gray background color with some padding */

body {
    font-family: Arial;
    padding: 20px;
}


/* Header/Blog Title */

.header {
    font-size: 300px;
    text-align: center;
    background: none;
    color: white;
}


/* Create two unequal columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}


/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}


/* h2 */

h2 {
    font-size: 40px;
}


/* h5 */

h5 {
    font-size: 25px;
}


/* Fake image */

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin-top: 20px;
}

.cpostbutton {
    font-size: 16px;
    background: transparent;
    border: none !important;
}

.cloakOfInvisibility {
    display: none;
}

.img {
    max-width: 100%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.login {
    position: relative;
    top: 0px;
    left: 70%;
    width: 10px;
    background: transparent;
    border: none !important;
}

#inline {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    margin-top: 20px;
}

.one,
.two {
    width: 50%;
    height: 100px;
    margin: 10px;
}


/* Error */

.panel {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.red {
    color: #fff !important;
    background-color: #f44336 !important
}

.header {
    width: 100%;
    padding: 0;
}


/* h1 */

h1 {
    font-size: 40vw;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}